.Button {
  width: 100%;
  max-width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 15px;
}

.Button:disabled {
  background-color: silver;
  cursor: not-allowed;
}